/* #region RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion */

/* #region GENERAL */

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* #endregion */

/* #region TYPOGRAPHY */
body {
    font-family: sans-serif;
}


a,
.tag-container,
footer {
    color: #ffffff;
}

header {
    font-weight: 700;
}

a {
    text-decoration: none;
}

.card .like {
    font-size: 25px;
}

.like:hover,
.price {
    color: #ff0000;
}

.price.old {
    color: #000000;
    text-decoration: line-through;
}

.footer-left a,
footer small {
    font-size: 10px
}

/* #endregion */

/* #region GRID LAYOUT */
.container {
    max-width: 1200px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row>* {
    padding: 0 10px;
}

.col-20 {
    width: 20%;
}

.col-25 {
    width: 25%;
}

.col-30 {
    width: 30%;
}

.col-33 {
    width: calc(100% / 3);
}

.col-40 {
    width: 40%;
}

.col-50 {
    width: 50%;
}

.col-60 {
    width: 60%;
}

.col-70 {
    width: 70%;
}

.col-80 {
    width: 80%;
}

.col-100 {
    width: 100%;
}

/* #endregion */

/* #region HEADER */
header {
    background: #ff6900;
    text-align: center;
    box-shadow: 0 1px #9e9e9e;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

header .row {
    justify-content: space-between;
    flex-grow: 2;
}

.header-left,
.header-right {
    padding: 10px;
}

header ul {
    padding: 10px 0 10px;
    display: flex;
    flex-wrap: wrap;
}

.header-left>ul li {
    margin: 0 10px 0 0;
}

.header-right>ul li {
    margin: 0 0 0 10px;
}

.logo {
    margin: 0 100px 0 0;
    padding: 14px 0;
    flex-grow: 2;
}

.logo img {
    max-width: 134px;
}

/* #endregion */

/* #region MAIN */
main>.container {
    padding: 58px 0;
}

main .row-top {
    margin: 0 0 54px;
}

/* ---------
    CARD
--------- */
.card {
    position: relative;
}

.card .like {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: 8px;
    right: 0;
}

.tag-container {
    width: 100%;
    position: absolute;
    bottom: 46px;
}

.tag {
    padding: 8px;
}

.tag.sale {
    background: #ff0000;
}

.tag.sostenibility {
    background: #008000;
}

.card-image.secondary,
.card:hover .card-image.primary {
    display: none;
}

.card:hover .card-image.secondary {
    padding: 0 0 4px;
    display: block;
}


/* #endregion */

/* #region FOOTER */
footer {
    background: #1a1a1a;
    padding: 30px 10px;
}

footer>.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer ul>li {
    display: inline-block;
}

/* #endregion */