/* #region RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion */

/* #region GENERAL */
header {
    color: #ffffff;
}

ul {
    list-style: none;
}

/* #endregion */

/* #region TYPOGRAPHY */
header {
    font-size: 20px;
    font-weight: 700;
}

/* #endregion */

/* #region GRID LAYOUT */
.container {
    max-width: 1200px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row>* {
    padding: 0 10px;
}

.col-20 {
    width: 20%;
}

.col-25 {
    width: 25%;
}

.col-30 {
    width: 30%;
}

.col-33 {
    width: calc(100% / 3);
}

.col-40 {
    width: 40%;
}

.col-50 {
    width: 50%;
}

.col-60 {
    width: 60%;
}

.col-70 {
    width: 70%;
}

.col-80 {
    width: 80%;
}

.col-100 {
    width: 100%;
}

/* #endregion */

/* #region FOOTER */
header {
    background: #ff6900;
    text-align: center;
    box-shadow: 0 2px #9e9e9e;
}

header .row {
    justify-content: space-between;
    padding: 8px 0;
}

.header-left,
.header-right {
    padding: 10px;
}

header ul {
    padding: 10px 0 10px;
    display: flex;
    flex-wrap: wrap;
}

header ul>li {
    margin: 0 10px 0 0;
}

.logo {
    padding: 14px 0;
}

.logo img {
    max-width: 134px;
}

/* #endregion */